@(title: String, userForm: Form[UserData])(content: Html)(implicit request: MessagesRequestHeader)


<!DOCTYPE html>

<html>
    <head>

        <title>@title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery-ui-1.12.0.css")"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">

        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")"></script>

        <script src="@routes.Assets.versioned("javascripts/bootstrap-3.3.7.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-ui-1.12.0.min.js")"></script>

        <script src="@routes.Assets.versioned("javascripts/scripts.js")"></script>


    </head>
    <body>

        @request.session.get("username").map { user =>
            <div id="log_in_out" class='pull-right'>
                <a href="@routes.UserController.logout()" class="btn btn-info" role="button">Log out</a>
            </div>
        }.getOrElse{
            <div id="log_in_out" class='pull-right'>
                <button type="button" class="btn btn" data-toggle="modal" data-target="#loginModal">Log in</button>
            </div>
        }


        <div class="container">
            @content
        </div>


        <!-- Modal -->

        <div class="modal fade" id="infoModal" role="dialog">
            <div id="loginModalDialog" class="modal-dialog">

                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id="title_text"></span></h4>
                    </div>
                    <div class="modal-body">
                        <span id="body_text"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="loginModal" role="dialog">
            <div id="loginModalDialog" class="modal-dialog">
            @helper.form(action = routes.BookController.loginPost(), 'id -> "loginForm") {
                @helper.CSRF.formField
                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Log in</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                        @helper.inputText(userForm("username"), '_showConstraints -> false, '_label -> "Username",'class -> "form-control input-block-level", 'size -> 30, 'id -> "usr")
                        </div>
                        <div class="form-group">
                        @helper.inputPassword(userForm("password"), '_showConstraints -> false, '_label -> "Password",'class -> "form-control input-block-level", 'size -> 30, 'id -> "pwd")
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="loginBtn" class="btn btn-primary" data-dismiss="modal">Log in</button>
                        <p class='pull-left'><small>use <em>admin</em>/<em>12345</em> </small></p>
                    </div>
                </div>
            }
            </div>
        </div>

    </body>


</html>
